.social-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 1000;
    opacity: 0.9;
}

.social-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
    transition: all 0.3s ease;
    text-decoration: none;
    color: white;
    position: relative;
    opacity: 0.9;
}

.social-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    animation: pulse 2s infinite;
    z-index: -1;
}

.instagram::before {
    background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
}

.viber::before {
    background-color: #7360F2;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    flex-shrink: 0;
    z-index: 1;
}

.social-btn:hover {
    transform: scale(1.1);
    opacity: 1;
}

.social-btn:hover .social-text {
    opacity: 1;
}


@media (max-width: 768px) {
    .social-buttons {
        right: 3vw;
        bottom: 20px;
        gap: 12px;
        opacity: 0.9;
    }

    .social-btn {
        width: 45px;
        height: 45px;
    }

    .social-icon {
        width: 45px;
        height: 45px;
    }

    .social-btn:hover {
        transform: scale(1.1);
        opacity: 1;
    }
}

@media (max-width: 480px) {
    .social-buttons {
        right: 3vw;
        bottom: 20px;
        gap: 12px;
        opacity: 0.9;
    }

    .social-btn {
        width: 50px;
        height: 50px;
    }

    .social-icon {
        width: 50px;
        height: 50px;
    }

    .social-btn:hover {
        transform: scale(1.1);
        opacity: 1;
    }
}

@media (max-width: 393px) {
    .social-buttons {
        right: 4vw;
        top: 69vh;
        gap: 15px;
    }
}